* {
    margin: 0;
    padding: 0;
}
/* Estilos generales */

html {
    font-size: 62.5%; 
}
  
/* Estilos Index */

.titulo {
    color: rgb(141, 70, 222);
    font-size: 5em;
    margin: 8rem;
}
.tituloDos {
    color: #7b7ecd;
    font-size: 2.5em;
    margin: 8rem;
}